*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
}

body{

    height: 100vh;
    width: 100vw;
    background-color: black;
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo img{

    width: 100px;
    height: 90px;
    border-radius: 40px;
}

.signin_link {

    
    font-size: 23px;
    font-size: 23px;
    margin-top: 20px;
   
}
.a-tag{
    color:red;
    text-decoration: none;
}












/* Media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}